In [2]:
import pandas as pd

In [3]:
Play_Cricket = pd.read_csv("Desktop\PlayCricket.csv")

In [4]:
Play_Cricket.head()

  Day   Outlook Humidity    Wind PlayCricket
0  D1     Sunny     High    Weak          No
1  D2     Sunny     High  Strong          No
2  D3  Overcast     High    Weak         Yes
3  D4      Rain     High    Weak         Yes
4  D5      Rain   Normal    Weak         Yes

In [5]:
len(Play_Cricket)

14

In [6]:
Play_Cricket

    Day   Outlook Humidity    Wind PlayCricket
0    D1     Sunny     High    Weak          No
1    D2     Sunny     High  Strong          No
2    D3  Overcast     High    Weak         Yes
3    D4      Rain     High    Weak         Yes
4    D5      Rain   Normal    Weak         Yes
5    D6      Rain   Normal  Strong          No
6    D7  Overcast   Normal  Strong         Yes
7    D8     Sunny     High    Weak          No
8    D9     Sunny   Normal    Weak         Yes
9   D10      Rain   Normal    Weak         Yes
10  D11     Sunny   Normal  Strong         Yes
11  D12  Overcast     High  Strong         Yes
12  D13  Overcast   Normal    Weak         Yes
13  D14      Rain     High  Strong          No

In [7]:
Play_Cricket["Outlook"]

0        Sunny
1        Sunny
2     Overcast
3         Rain
4         Rain
5         Rain
6     Overcast
7        Sunny
8        Sunny
9         Rain
10       Sunny
11    Overcast
12    Overcast
13        Rain
Name: Outlook, dtype: object

In [8]:
Play_Cricket.groupby('Outlook')['PlayCricket'].value_counts().unstack(1)

PlayCricket   No  Yes
Outlook
Overcast     NaN  4.0
Rain         2.0  3.0
Sunny        3.0  2.0

In [9]:
Play_Cricket.groupby(['Outlook']).count()

          Day  Humidity  Wind  PlayCricket
Outlook
Overcast    4         4     4            4
Rain        5         5     5            5
Sunny       5         5     5            5

In [10]:
Play_Cricket.groupby(['PlayCricket']).count()

             Day  Outlook  Humidity  Wind
PlayCricket
No             5        5         5     5
Yes            9        9         9     9

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
number = LabelEncoder()
Play_Cricket['Outlook'] = number.fit_transform(Play_Cricket['Outlook'])
print(Play_Cricket)

    Day  Outlook Humidity    Wind PlayCricket
0    D1        2     High    Weak          No
1    D2        2     High  Strong          No
2    D3        0     High    Weak         Yes
3    D4        1     High    Weak         Yes
4    D5        1   Normal    Weak         Yes
5    D6        1   Normal  Strong          No
6    D7        0   Normal  Strong         Yes
7    D8        2     High    Weak          No
8    D9        2   Normal    Weak         Yes
9   D10        1   Normal    Weak         Yes
10  D11        2   Normal  Strong         Yes
11  D12        0     High  Strong         Yes
12  D13        0   Normal    Weak         Yes
13  D14        1     High  Strong          No

In [13]:
Play_Cricket['Humidity']=number.fit_transform(Play_Cricket['Humidity'])

In [14]:
Play_Cricket

    Day  Outlook  Humidity    Wind PlayCricket
0    D1        2         0    Weak          No
1    D2        2         0  Strong          No
2    D3        0         0    Weak         Yes
3    D4        1         0    Weak         Yes
4    D5        1         1    Weak         Yes
5    D6        1         1  Strong          No
6    D7        0         1  Strong         Yes
7    D8        2         0    Weak          No
8    D9        2         1    Weak         Yes
9   D10        1         1    Weak         Yes
10  D11        2         1  Strong         Yes
11  D12        0         0  Strong         Yes
12  D13        0         1    Weak         Yes
13  D14        1         0  Strong          No

In [15]:
Play_Cricket['Wind']=number.fit_transform(Play_Cricket['Wind'])
Play_Cricket['PlayCricket']=number.fit_transform(Play_Cricket['PlayCricket'])

In [16]:
Play_Cricket

    Day  Outlook  Humidity  Wind  PlayCricket
0    D1        2         0     1            0
1    D2        2         0     0            0
2    D3        0         0     1            1
3    D4        1         0     1            1
4    D5        1         1     1            1
5    D6        1         1     0            0
6    D7        0         1     0            1
7    D8        2         0     1            0
8    D9        2         1     1            1
9   D10        1         1     1            1
10  D11        2         1     0            1
11  D12        0         0     0            1
12  D13        0         1     1            1
13  D14        1         0     0            0

In [17]:
features = ["Outlook", "Humidity", "Wind"]
target = "PlayCricket"

In [18]:
from sklearn.cross_validation import train_test_split

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [19]:
features_train, features_test, target_train, target_test = train_test_split(Play_Cricket[features],Play_Cricket[target],test_size = 0.25,random_state = 47)

In [20]:
from sklearn.tree import DecisionTreeClassifier

In [21]:
clf = DecisionTreeClassifier(criterion = 'entropy')

In [22]:
clf.fit(features_train, target_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [23]:
pred = clf.predict(features_test)
print(pred)

[1 1 1 1]

In [25]:
from sklearn.metrics import accuracy_score

In [26]:
accuracy = accuracy_score(target_test, pred)
print(accuracy)

0.75

In [27]:
print (clf.predict([[2,0,1]]))

[0]